---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro"

---

<Layout title="About">
    <h1>About Page</h1>
    <Card title="Hello" body="lorem.." href="/" />
    <Card title="Hello" body="lorem.." href="/" />
    <Card title="Hello" body="lorem.." href="/" />
    <Card title="Hello" body="lorem.." href="/" />
</Layout>