---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Hello World</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia hic aut ducimus modi explicabo, ad pariatur. Omnis magni porro, molestias nulla earum dolor, laudantium consequatur quis sint doloribus dolorem corporis.</p>
</Layout>